<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Profile</title>
  </head>
  <body class="py-8">
    <main class="w-full max-w-sm mx-auto">
        <h1 class="font-semibold text-2xl">Profile</h1>
        <p>Nothing to see here :)</p>
        <a href="/" class="underline">go back</a>
    </main>
  </body>
</html>
